/**
 * @file: modules/utilities/accessibility/_screenReader.scss
 */

 // Utilities for controls whether an element is visually hidden but still accessible to screen readers.
 @if (map-get($accessibility, 'screen-reader')) {
  @include variant(()) using ($props...) {
    #{$id}screen-reader-on {
      @include pseudo((null: null), $props..., $modifier: false) using ($value: null) {
        border-width: 0 #{$override};
        clip: rect(0, 0, 0, 0) #{$override};
        height: 1px #{$override};
        margin: -1px #{$override};
        overflow: hidden #{$override};
        padding: 0 #{$override};
        position: absolute #{$override};
        white-space: nowrap #{$override};
        width: 1px #{$override};
      }
    }
    #{$id}screen-reader-off {
      @include pseudo((null: null), $props..., $modifier: false) using ($value: null) {
        clip: auto #{$override};
        height: auto #{$override};
        margin: 0 #{$override};
        overflow: visible #{$override};
        padding: 0 #{$override};
        position: static #{$override};
        white-space: normal #{$override};
        width: auto #{$override};
      }
    }
  }
}
